In [1]:
import pandas as pd

In [16]:
df = pd.read_csv('log.csv')
print(len(df))
print(df.head(20))

33
          time    user          video  playback position paused  volume
0   1469974424  cheryl     intro.html                  5  False    10.0
1   1469974454  cheryl     intro.html                  6    NaN     NaN
2   1469974544  cheryl     intro.html                  9    NaN     NaN
3   1469974574  cheryl     intro.html                 10    NaN     NaN
4   1469977514     bob     intro.html                  1    NaN     NaN
5   1469977544     bob     intro.html                  1    NaN     NaN
6   1469977574     bob     intro.html                  1    NaN     NaN
7   1469977604     bob     intro.html                  1    NaN     NaN
8   1469974604  cheryl     intro.html                 11    NaN     NaN
9   1469974694  cheryl     intro.html                 14    NaN     NaN
10  1469974724  cheryl     intro.html                 15    NaN     NaN
11  1469974454     sue  advanced.html                 24    NaN     NaN
12  1469974524     sue  advanced.html                 25    NaN     NaN
13  1469974424     sue  advanced.html                 23  False    10.0
14  1469974554     sue  advanced.html                 26    NaN     NaN
15  1469974624     sue  advanced.html                 27    NaN     NaN
16  1469974654     sue  advanced.html                 28    NaN     5.0
17  1469974724     sue  advanced.html                 29    NaN     NaN
18  1469974484  cheryl     intro.html                  7    NaN     NaN
19  1469974514  cheryl     intro.html                  8    NaN     NaN

In [17]:
df = df.set_index('time')
df = df.sort_index()
df

              user          video  playback position paused  volume
time
1469974424  cheryl     intro.html                  5  False    10.0
1469974424     sue  advanced.html                 23  False    10.0
1469974454  cheryl     intro.html                  6    NaN     NaN
1469974454     sue  advanced.html                 24    NaN     NaN
1469974484  cheryl     intro.html                  7    NaN     NaN
1469974514  cheryl     intro.html                  8    NaN     NaN
1469974524     sue  advanced.html                 25    NaN     NaN
1469974544  cheryl     intro.html                  9    NaN     NaN
1469974554     sue  advanced.html                 26    NaN     NaN
1469974574  cheryl     intro.html                 10    NaN     NaN
1469974604  cheryl     intro.html                 11    NaN     NaN
1469974624     sue  advanced.html                 27    NaN     NaN
1469974634  cheryl     intro.html                 12    NaN     NaN
1469974654     sue  advanced.html                 28    NaN     5.0
1469974664  cheryl     intro.html                 13    NaN     NaN
1469974694  cheryl     intro.html                 14    NaN     NaN
1469974724  cheryl     intro.html                 15    NaN     NaN
1469974724     sue  advanced.html                 29    NaN     NaN
1469974754     sue  advanced.html                 30    NaN     NaN
1469974824     sue  advanced.html                 31    NaN     NaN
1469974854     sue  advanced.html                 32    NaN     NaN
1469974924     sue  advanced.html                 33    NaN     NaN
1469977424     bob     intro.html                  1   True    10.0
1469977454     bob     intro.html                  1    NaN     NaN
1469977484     bob     intro.html                  1    NaN     NaN
1469977514     bob     intro.html                  1    NaN     NaN
1469977544     bob     intro.html                  1    NaN     NaN
1469977574     bob     intro.html                  1    NaN     NaN
1469977604     bob     intro.html                  1    NaN     NaN
1469977634     bob     intro.html                  1    NaN     NaN
1469977664     bob     intro.html                  1    NaN     NaN
1469977694     bob     intro.html                  1    NaN     NaN
1469977724     bob     intro.html                  1    NaN     NaN

In [18]:
df = df.reset_index()
df = df.set_index(['time','user'])
df

                           video  playback position paused  volume
time       user
1469974424 cheryl     intro.html                  5  False    10.0
           sue     advanced.html                 23  False    10.0
1469974454 cheryl     intro.html                  6    NaN     NaN
           sue     advanced.html                 24    NaN     NaN
1469974484 cheryl     intro.html                  7    NaN     NaN
1469974514 cheryl     intro.html                  8    NaN     NaN
1469974524 sue     advanced.html                 25    NaN     NaN
1469974544 cheryl     intro.html                  9    NaN     NaN
1469974554 sue     advanced.html                 26    NaN     NaN
1469974574 cheryl     intro.html                 10    NaN     NaN
1469974604 cheryl     intro.html                 11    NaN     NaN
1469974624 sue     advanced.html                 27    NaN     NaN
1469974634 cheryl     intro.html                 12    NaN     NaN
1469974654 sue     advanced.html                 28    NaN     5.0
1469974664 cheryl     intro.html                 13    NaN     NaN
1469974694 cheryl     intro.html                 14    NaN     NaN
1469974724 cheryl     intro.html                 15    NaN     NaN
           sue     advanced.html                 29    NaN     NaN
1469974754 sue     advanced.html                 30    NaN     NaN
1469974824 sue     advanced.html                 31    NaN     NaN
1469974854 sue     advanced.html                 32    NaN     NaN
1469974924 sue     advanced.html                 33    NaN     NaN
1469977424 bob        intro.html                  1   True    10.0
1469977454 bob        intro.html                  1    NaN     NaN
1469977484 bob        intro.html                  1    NaN     NaN
1469977514 bob        intro.html                  1    NaN     NaN
1469977544 bob        intro.html                  1    NaN     NaN
1469977574 bob        intro.html                  1    NaN     NaN
1469977604 bob        intro.html                  1    NaN     NaN
1469977634 bob        intro.html                  1    NaN     NaN
1469977664 bob        intro.html                  1    NaN     NaN
1469977694 bob        intro.html                  1    NaN     NaN
1469977724 bob        intro.html                  1    NaN     NaN

In [24]:
df.sort_index()

                           video  playback position paused  volume
time       user
1469974424 cheryl     intro.html                  5  False    10.0
           sue     advanced.html                 23  False    10.0
1469974454 cheryl     intro.html                  6    NaN     NaN
           sue     advanced.html                 24    NaN     NaN
1469974484 cheryl     intro.html                  7    NaN     NaN
1469974514 cheryl     intro.html                  8    NaN     NaN
1469974524 sue     advanced.html                 25    NaN     NaN
1469974544 cheryl     intro.html                  9    NaN     NaN
1469974554 sue     advanced.html                 26    NaN     NaN
1469974574 cheryl     intro.html                 10    NaN     NaN
1469974604 cheryl     intro.html                 11    NaN     NaN
1469974624 sue     advanced.html                 27    NaN     NaN
1469974634 cheryl     intro.html                 12    NaN     NaN
1469974654 sue     advanced.html                 28    NaN     5.0
1469974664 cheryl     intro.html                 13    NaN     NaN
1469974694 cheryl     intro.html                 14    NaN     NaN
1469974724 cheryl     intro.html                 15    NaN     NaN
           sue     advanced.html                 29    NaN     NaN
1469974754 sue     advanced.html                 30    NaN     NaN
1469974824 sue     advanced.html                 31    NaN     NaN
1469974854 sue     advanced.html                 32    NaN     NaN
1469974924 sue     advanced.html                 33    NaN     NaN
1469977424 bob        intro.html                  1   True    10.0
1469977454 bob        intro.html                  1    NaN     NaN
1469977484 bob        intro.html                  1    NaN     NaN
1469977514 bob        intro.html                  1    NaN     NaN
1469977544 bob        intro.html                  1    NaN     NaN
1469977574 bob        intro.html                  1    NaN     NaN
1469977604 bob        intro.html                  1    NaN     NaN
1469977634 bob        intro.html                  1    NaN     NaN
1469977664 bob        intro.html                  1    NaN     NaN
1469977694 bob        intro.html                  1    NaN     NaN
1469977724 bob        intro.html                  1    NaN     NaN

In [26]:
df = df.fillna(method = 'ffill')
df

                           video  playback position  paused  volume
time       user
1469974424 cheryl     intro.html                  5   False    10.0
           sue     advanced.html                 23   False    10.0
1469974454 cheryl     intro.html                  6   False    10.0
           sue     advanced.html                 24   False    10.0
1469974484 cheryl     intro.html                  7   False    10.0
1469974514 cheryl     intro.html                  8   False    10.0
1469974524 sue     advanced.html                 25   False    10.0
1469974544 cheryl     intro.html                  9   False    10.0
1469974554 sue     advanced.html                 26   False    10.0
1469974574 cheryl     intro.html                 10   False    10.0
1469974604 cheryl     intro.html                 11   False    10.0
1469974624 sue     advanced.html                 27   False    10.0
1469974634 cheryl     intro.html                 12   False    10.0
1469974654 sue     advanced.html                 28   False     5.0
1469974664 cheryl     intro.html                 13   False     5.0
1469974694 cheryl     intro.html                 14   False     5.0
1469974724 cheryl     intro.html                 15   False     5.0
           sue     advanced.html                 29   False     5.0
1469974754 sue     advanced.html                 30   False     5.0
1469974824 sue     advanced.html                 31   False     5.0
1469974854 sue     advanced.html                 32   False     5.0
1469974924 sue     advanced.html                 33   False     5.0
1469977424 bob        intro.html                  1    True    10.0
1469977454 bob        intro.html                  1    True    10.0
1469977484 bob        intro.html                  1    True    10.0
1469977514 bob        intro.html                  1    True    10.0
1469977544 bob        intro.html                  1    True    10.0
1469977574 bob        intro.html                  1    True    10.0
1469977604 bob        intro.html                  1    True    10.0
1469977634 bob        intro.html                  1    True    10.0
1469977664 bob        intro.html                  1    True    10.0
1469977694 bob        intro.html                  1    True    10.0
1469977724 bob        intro.html                  1    True    10.0

In [45]:
# we can use replace function in this let's try

df_new = df.copy()
df_new.head()

                           video  playback position  paused  volume
time       user
1469974424 cheryl     intro.html                  5   False    10.0
           sue     advanced.html                 23   False    10.0
1469974454 cheryl     intro.html                  6   False    10.0
           sue     advanced.html                 24   False    10.0
1469974484 cheryl     intro.html                  7   False    10.0

In [47]:
# replace all bob with boby 

df_new = df_new.reset_index()
df_new = df_new.replace('bob','boby')
df_new

          time    user          video  playback position  paused  volume
0   1469974424  cheryl     intro.html                  5   False    10.0
1   1469974424     sue  advanced.html                 23   False    10.0
2   1469974454  cheryl     intro.html                  6   False    10.0
3   1469974454     sue  advanced.html                 24   False    10.0
4   1469974484  cheryl     intro.html                  7   False    10.0
5   1469974514  cheryl     intro.html                  8   False    10.0
6   1469974524     sue  advanced.html                 25   False    10.0
7   1469974544  cheryl     intro.html                  9   False    10.0
8   1469974554     sue  advanced.html                 26   False    10.0
9   1469974574  cheryl     intro.html                 10   False    10.0
10  1469974604  cheryl     intro.html                 11   False    10.0
11  1469974624     sue  advanced.html                 27   False    10.0
12  1469974634  cheryl     intro.html                 12   False    10.0
13  1469974654     sue  advanced.html                 28   False     5.0
14  1469974664  cheryl     intro.html                 13   False     5.0
15  1469974694  cheryl     intro.html                 14   False     5.0
16  1469974724  cheryl     intro.html                 15   False     5.0
17  1469974724     sue  advanced.html                 29   False     5.0
18  1469974754     sue  advanced.html                 30   False     5.0
19  1469974824     sue  advanced.html                 31   False     5.0
20  1469974854     sue  advanced.html                 32   False     5.0
21  1469974924     sue  advanced.html                 33   False     5.0
22  1469977424    boby     intro.html                  1    True    10.0
23  1469977454    boby     intro.html                  1    True    10.0
24  1469977484    boby     intro.html                  1    True    10.0
25  1469977514    boby     intro.html                  1    True    10.0
26  1469977544    boby     intro.html                  1    True    10.0
27  1469977574    boby     intro.html                  1    True    10.0
28  1469977604    boby     intro.html                  1    True    10.0
29  1469977634    boby     intro.html                  1    True    10.0
30  1469977664    boby     intro.html                  1    True    10.0
31  1469977694    boby     intro.html                  1    True    10.0
32  1469977724    boby     intro.html                  1    True    10.0

In [48]:
df_new = df_new.replace(['boby','sue'],['bob','susu'])
df_new

          time    user          video  playback position  paused  volume
0   1469974424  cheryl     intro.html                  5   False    10.0
1   1469974424    susu  advanced.html                 23   False    10.0
2   1469974454  cheryl     intro.html                  6   False    10.0
3   1469974454    susu  advanced.html                 24   False    10.0
4   1469974484  cheryl     intro.html                  7   False    10.0
5   1469974514  cheryl     intro.html                  8   False    10.0
6   1469974524    susu  advanced.html                 25   False    10.0
7   1469974544  cheryl     intro.html                  9   False    10.0
8   1469974554    susu  advanced.html                 26   False    10.0
9   1469974574  cheryl     intro.html                 10   False    10.0
10  1469974604  cheryl     intro.html                 11   False    10.0
11  1469974624    susu  advanced.html                 27   False    10.0
12  1469974634  cheryl     intro.html                 12   False    10.0
13  1469974654    susu  advanced.html                 28   False     5.0
14  1469974664  cheryl     intro.html                 13   False     5.0
15  1469974694  cheryl     intro.html                 14   False     5.0
16  1469974724  cheryl     intro.html                 15   False     5.0
17  1469974724    susu  advanced.html                 29   False     5.0
18  1469974754    susu  advanced.html                 30   False     5.0
19  1469974824    susu  advanced.html                 31   False     5.0
20  1469974854    susu  advanced.html                 32   False     5.0
21  1469974924    susu  advanced.html                 33   False     5.0
22  1469977424     bob     intro.html                  1    True    10.0
23  1469977454     bob     intro.html                  1    True    10.0
24  1469977484     bob     intro.html                  1    True    10.0
25  1469977514     bob     intro.html                  1    True    10.0
26  1469977544     bob     intro.html                  1    True    10.0
27  1469977574     bob     intro.html                  1    True    10.0
28  1469977604     bob     intro.html                  1    True    10.0
29  1469977634     bob     intro.html                  1    True    10.0
30  1469977664     bob     intro.html                  1    True    10.0
31  1469977694     bob     intro.html                  1    True    10.0
32  1469977724     bob     intro.html                  1    True    10.0

#### Replacement with regex

In [49]:
df.head()

                           video  playback position  paused  volume
time       user
1469974424 cheryl     intro.html                  5   False    10.0
           sue     advanced.html                 23   False    10.0
1469974454 cheryl     intro.html                  6   False    10.0
           sue     advanced.html                 24   False    10.0
1469974484 cheryl     intro.html                  7   False    10.0

In [51]:
df.replace(to_replace=".*\.html$", value="webpage", regex=True)

                     video  playback position  paused  volume
time       user
1469974424 cheryl  webpage                  5   False    10.0
           sue     webpage                 23   False    10.0
1469974454 cheryl  webpage                  6   False    10.0
           sue     webpage                 24   False    10.0
1469974484 cheryl  webpage                  7   False    10.0
1469974514 cheryl  webpage                  8   False    10.0
1469974524 sue     webpage                 25   False    10.0
1469974544 cheryl  webpage                  9   False    10.0
1469974554 sue     webpage                 26   False    10.0
1469974574 cheryl  webpage                 10   False    10.0
1469974604 cheryl  webpage                 11   False    10.0
1469974624 sue     webpage                 27   False    10.0
1469974634 cheryl  webpage                 12   False    10.0
1469974654 sue     webpage                 28   False     5.0
1469974664 cheryl  webpage                 13   False     5.0
1469974694 cheryl  webpage                 14   False     5.0
1469974724 cheryl  webpage                 15   False     5.0
           sue     webpage                 29   False     5.0
1469974754 sue     webpage                 30   False     5.0
1469974824 sue     webpage                 31   False     5.0
1469974854 sue     webpage                 32   False     5.0
1469974924 sue     webpage                 33   False     5.0
1469977424 bob     webpage                  1    True    10.0
1469977454 bob     webpage                  1    True    10.0
1469977484 bob     webpage                  1    True    10.0
1469977514 bob     webpage                  1    True    10.0
1469977544 bob     webpage                  1    True    10.0
1469977574 bob     webpage                  1    True    10.0
1469977604 bob     webpage                  1    True    10.0
1469977634 bob     webpage                  1    True    10.0
1469977664 bob     webpage                  1    True    10.0
1469977694 bob     webpage                  1    True    10.0
1469977724 bob     webpage                  1    True    10.0